<div id="login" class="modal">
    <span onclick="document.getElementById('login').style.display='none'" class="close"
        title="Close Modal">&times;</span>

    <form class="modal-content background" name='loginForm' onsubmit='event.preventDefault(); verifyLogin();'
        action="userPage.php" method="post">

        <div class="container">
            <br>
            <h2>Login</h2>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" id='uname' required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="submit">Login</button>
            <button type="button" onclick="document.getElementById('login').style.display='none'"
                class="cancelbtn">Cancel</button>
        </div>
    </form>
</div>