<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Dual Quasars</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/speedrunCSS.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body onload="loadGames()">
    <header>
        <h1>Dual Quasars</h1>
    </header>

    <div class='background'>
        <table>
            <tr>
                <td>
                    <strong>Select a game:</strong>
                </td>
                <td>
                    <select id='gameSelect' onChange='generateCatDropdown()'>
                        <option value='0'>Select a Game</option>
                    </select>
                </td>
                <td>
                    <strong>Filter by category type:</strong>
                </td>
                <td>
                    <select id='runCategory' onChange='generateTable()'>
                        <option value=''>-</option>
                    </select>
                </td>
            </tr>
        </table>

        <table id='runTable'>
        </table>
        <br>
        <table>
            <tr>
                <td>
                    <button class='col1' onclick="document.getElementById('login').style.display='block'">
                        Login
                    </button>
                </td>
                <td>
                    <button class=' col2' onclick="document.getElementById('register').style.display='block'">
                        Register
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div id="login" class="modal">
        <span onclick="document.getElementById('login').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <form class="modal-content background" name='loginForm' onsubmit='event.preventDefault(); login();'
            action='/user' method="get">

            <div class="container">
                <br>
                <h2>Login</h2>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" id='uname' required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="submit">Login</button>
                <button type="button" onclick="document.getElementById('login').style.display='none'"
                    class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>

    <div id="register" class="modal">
        <span onclick="document.getElementById('register').style.display='none'" class="close"
            title="Close Modal">&times;</span>

        <form class="modal-content background" onsubmit="addUser()">

            <div class="container">
                <br>
                <h2>Create New Account</h2>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="user[name]" id='newName' required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="user[password]" id="newPass" required>

            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="submit">Register</button>
                <button type="button" onclick="document.getElementById('register').style.display='none'"
                    class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>
</body>

</html>