<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Dual Quasars</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/speedrunCSS.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<table class='background'>
    <tr><td>Success your run has been added to your account</td></tr>
    <tr><td><button onclick="window.location.href = '/user'">Return to user profile</button></td></tr>
</table>

</body>
</html>